
body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-between;
}

   /*----HEADER----*/

.header{
    margin-top: 8px;
    margin-left: 80px;
    margin-right: 108px;
    padding: 0 5px;
}

.header-container{
    display: flex;
    width: 408px;
    height: 109px;
}

.header-container-notab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 109px;
}

.header-icon-notab{
    width: 96px;
    height: 24.749px;
    margin-left: 8px;
}

.header-container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 109px;
    margin-left: 109px;
}

.header-icon-login{
    width: 26px;
    height: 24.99px;
    flex-shrink: 0;
}

.header-icon-link{
    color: #FFF;
    font-family: Noto Sans;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    margin-left: 14px;
}

   /*----HERO----*/

.hero {
    padding: 18px 0;
}

.hero-container {
    margin: 0 85px;
    padding: 0 15px;
}

.hero-container-platform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 643px;
    height: 350px;
}

.hero-platform-title {
    display: flex;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.09; /* 109.375% */
    margin: 0;
}

.hero-platform-text {
    display: flex;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.hero-container-img {
}

.hero-cotainer-download {
}

.hero-download-title {
}

.hero-download-list {
}

.hero-download-item {
}

.hero-download-app_store {
}

.hero-download-google_pay {
}

