
body{
    background: rgb(0, 0, 0) url(./images/fon.svg) top right no-repeat;
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-between;
}

ul{ 
    padding: 0;
    margin: 0;
}

h1,
h2{
    padding: 0;
    margin: 0;
}

   /*----HEADER----*/

.header{
    margin-top: 8px;
    margin-left: 80px;
    margin-right: 108px;
}

.header-container{
    padding: 0 5px;
    display: flex;
    width: 408px;
    height: 109px;
}

.header-container-notab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 109px;
}

.header-icon-notab{
    width: 96px;
    height: 24.749px;
    margin-left: 8px;
}

.header-container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 109px;
    margin-left: 109px;
}

.header-icon-login{
    width: 26px;
    height: 24.99px;
    flex-shrink: 0;
}

.header-icon-link{
    color: #FFF;
    font-family: Noto Sans;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    margin-left: 14px;
}

   /*----HERO----*/

.hero {
    padding: 18px 0;
}

.hero-container {
    margin: 0 85px;
    padding: 0 15px;
}

.hero-container-platform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 643px;
    margin-right: auto;
}

.hero-platform-title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.09; /* 109.375% */
    margin: 0;
}

.hero-elipse{
    position: absolute;
    width: 125px;
    height: 125px;
    left: 93px;
    top: 470px;

    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);

}

.hero-line{
    position: absolute;
    width: 139.43px;
    height: 0px;
    left: 80px;
    top: 570px;

    border: 2px solid #FFFFFF;
    transform: rotate(121deg);

}

.hero-platform-text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 130px 158px 0 105px;
}

.hero-container-img {
    margin-right: 84px;
    filter: drop-shadow(0px 5px 30px rgba(255, 255, 255, 0.25));
}

.hero-cotainer-download {
    display: flex;
    flex-direction: row;
    margin-top: 91px;
    align-items: center;
}

.hero-download-title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    line-height: 2; /* 200% */
    margin-right: 424px;
}

.hero-download-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.hero-download-item {
}

.hero-download-app_store {
    width: 163.535px;
    height: 51.326px;
    flex-shrink: 0;
    margin-right: 28px;
}

.hero-download-google_pay {
    width: 184.5px;
    height: 51.326px;
    flex-shrink: 0;
}

   /*----BENEFIST----*/

.benefist {
    padding-top: 120px;
}

.container {
}

.benefist-container { 
    margin: 0 85px;
    padding: 0 15px;
}

.benefist-list {
    display: flex;
    flex-direction: row;
    gap: 80px; 
    margin-left: 76px;
    margin-right: auto;
}

.benefist-item {
    display: block;
    border-radius: 21.367px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    padding: 64px 73px 62px 55px;

}

.benefist-title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    width: 375px;
    margin-top: 0;
}

.benefist-link {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;

}

.benefist-container-iphone {
    margin: 0 85px;
    padding: 0 15px;
}

.benefist-iphone-list {
    display: flex;
    justify-content: space-between;
}

.benefist-iphone-item {
}

.benefist-ihone-img{
    width: 498px;
    height: 999.058px;
    transform: rotate(90deg);
    flex-shrink: 0;
    filter: drop-shadow(5px 5px 30px rgba(255, 255, 255, 0.25));
}

.benefist-elipse{
    position: absolute;
    width: 85px;
    height: 85px;
    left: 1116px;
    top: 1580px;

    background: #F101BF;
    opacity: 0.7;
    filter: blur(50px);
}

.benefist-ihone-title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 51px;
    font-weight: 700;
    line-height: normal;
    width: 358px;
    margin: 236px 63px 23px auto;
}

.benefist-ihone-text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 315px;
}

   /*----SCANER----*/

.scaner{
    background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 70%), url(./images/louis.jpg);
    background-repeat: no-repeat;
}

.scaner-conteiner {
    margin: 0 85px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.scaner-list {
    display: flex;
    justify-content: space-between;
    margin-top: 467px;
    gap: 50px;
}

.scaner-item {
}

.scaner-conteiner-title{
    display: flex;
    flex-direction: column;
    margin: 780px auto auto 128.5px;
}

.scaner-title {
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Montserrat;
font-size: 51px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 400px;
}

.scaner-text {
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Noto Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 316px;
}

   /*----INTEGRATION----*/

.integration{
    padding: 200px 0 217px 0;

}

.integration-container{
    margin: 0 85px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.integration-container-title {
    margin-top: 89px;
    
}

.integration-title {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 497px;
    height: 62px;
}

.integration-text {
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Noto Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 395px;
height: 119px;
margin-top: 23px;
}

.integration-container-svg {
    position: relative;
    width: 740px;
}

.integration-container-defoult{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14.795px;
    border: 0.616px solid rgba(255, 255, 255, 0.50);
}

.integration-container-img {
    position: absolute;
    top: 250px;
    left: 0;
    padding: 26px; 
}

.integration-container-img-2{
    position: absolute;
    top: 184px;
    left: 132px;
}

.integration-container-img-4{
    position: absolute;
    top: 0;
    left: 312px;
    padding: 24px;
}
